.no-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer y Edge Legacy */
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari y Opera */
}