.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-top: 4px solid #000;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }

  .bg-green {
    background-color: #6dc146; /* Puedes cambiar este color al que prefieras */
  }
  
  .bg-yellow {
    background-color: #e4e010;
  }
  
  .bg-red {
    background-color: #e53e3e;
  }
  
  .bg-purple {
    background-color: #d80bdf;
  }

  .right-11 {
    right: 3.5rem;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background: #2d3748; /* Color del fondo del track */
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #4a5568; /* Color del thumb */
    border-radius: 4px;
    border: 2px solid #2d3748; /* Opcional: para crear un espacio alrededor del thumb */
  }

  .custom-calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 8px;
    text-align: center;
  }
  
  .custom-calendar-header {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-weight: 600;
    color: #4a5568; /* Color de texto */
    text-align: center;
  }